!!!
%html
  %head
    %title OmckTV LiveStream Channel
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'bitdash.min'
    = javascript_include_tag 'player'
    = favicon_link_tag 'favicon.ico'
  %body
    #video
