%h3 Информация по ключам к стримам
%p Отмечу, что различаются два канала только по ссылке live (игра) и cinema (кино). То есть поле ключа можно не менять. Лучше иметь 2 разных профиля для obs и xsplit
%h3
  .text-info Игровой канал
%br
%b Ссылочка-писечка
.text-success
  rtmp://hd.omck.tv/live
%br
%b Далее в поле ключ (key) вставляем ваш ключ:
%br
.text-success
  omcktv?key=#{@user_key.key}
%hr
%h3
  .text-info Кинцо-анимцо
%br
%b Ссылочка-писечка
.text-success
  rtmp://hd.omck.tv/cinema
%br
%b Далее в поле ключ (key) вставляем ваш ключ:
.text-success
  omcktv?key=#{@user_key.key}
