.container
  .jumbotron
    %h4
      %a{href: "/faq-irc"} Фаг по IRC
    %h4
      %a{href: "http://pastebin.com/FyTpUYLy", target: "blank_"} Перевод настроек в OBS
    %h4
      %a{href: "http://theaces.ru/statiy/worldoftanks-staty/guidewot/370-nastroyka-strimov-cherez-open-broadcaster-software.html", target: "blank_"} Настройка OBS в картинках (RUS)
    %h1 FAQ
    %b Q:
    Что это такое? Как это работает? Зачем это?
    %br/
    %b A:
    Это форк канала из ВеГе. Мисака слишком НЕСТАБИЛЬНЫЙ
    %br/
    %br/
    %b Q:
    Как определить что стрим идёт?
    %br/
    %b A:
    Во время стрима загорается красная пиздюлина над стримом.
    %br/
    %br/
    %b Q:
    Тут много стримов, какой выбрать?
    %br/
    %b A:
    С красной пиздюлиной
    = succeed "." do
      %span.label.label-danger LIVE
    %br/
    %br/
    %b Q:
    Что сделать, чтобы стать стримером?
    %br/
    %b A:
    Отписать человеку с ником Peer_ , какую игру хотели бы стримить, когда можете, все дела. Если он посчитает нужным - даст права.
    %br/
    %br/
    %b Q:
    Где скачать программу для стрима? Как ее настроить? Как вообще стримить?
    %br/
    %b A:
    Гугл и чатик в помощь. Ищите гайды под софт
    %a{href: "http://obsproject.com/", target: "_blank"} OpenBroadcaster
    или
    = succeed "," do
      %a{href: "http://www.apoctv.com/2011/05/live-stream-quality-guide.html", target: "_blank"} XSplit
    %a{href: "http://www.livestream.com", target: "_blank"} Livestream
    и
    = succeed "." do
      %a{href: "http://twitch.tv", target: "_blank"} TwitchTV
    %br/
    %br/
    %b Q:
    Какой аплоад нужен для нормального стрима?
    %br/
    %b A:
    Согласно официальному FAQ Лайвстрима, для стрима в нормальном качестве - не менее 500кбит/с
    %br/
    %br/
    %b Q:
    Как стримить игры с консолей?
    %br/
    %b A:
    Во-первых, нужен ТВ-тюнер. В идеале, конечно – HD-тюнер, например Aver CaptureHD, но можно ограничиться любым другим дешевым. Для вывода изображения с тюнера можно использовать либо программы, поставляемые вместе с вашим тюнером, либо KMPlayer.
    %br/
    %br/
    %b Q:
    Схуяли так много веобушного говна?
    %br/
    %b A:
    У веобу нет жизни и во время отсутствия каких-либо стримов лучше посмотреть хоть что-то (пусть даже веобу), чем повтор уже в
    десятый раз. Когда у людей, стримящих что-либо вменяемое, будет отпуск\каникулы - стримов веобу будет минимум. А еще
    %b МОЕ ГОВНО > ТВОЕ ГОВНО
    %br/
    %br/
    %b Q:
    Рачьё веобушное блядь!
    %br/
    %b A:
    А то!
    %br/
    %br/
    %b Q:
    В чате меня постоянно оскорбляет человек с ником Rekvest. Что делать?
    %br/
    %b A:
    Ничего, это нормально.
    %br/
    %br/
    %b Q:
    Почему MсOmck?
    %br/
    %b A:
    В честь McDwarf'a - бога-покровителя канала.
    %br/
    %br/
    %b Q:
    Почему Mс_mc_mc_Omck?
    %br/
    %b A:
    Труп возвращался к жизни уже 4 раза.
    %br/
    %br/
