.container
  .jumbotron
    %h2 IRC
    Наш канал находится на
    %span.label.label-info irc.canternet.org/6667
    канал
    %span.label.label-success #omcktv
    %br/
    В веб-клиенте чата уже есть кнопочка ЗАРЕГИСТРИРОВАТЬСЯ, жмакаем на картинку человечка. А если Вы не можете в веб-клиент или хотите сидеть в ирц-клиенте, то следующая инструкция для Вас
    %br/
    Чтобы зарегистрировать НИК в чате, посмотрите на свой ник в чате. Это ваш желаемый ник? если нет, то можете сменить ник (и сервер Вам скажет занят ли он) следующей командой
    %br/
    %code /NICK ВАШНИК
    %br/
    В нике не должно быть специальных символов
    = succeed "," do
      %span.label.label-danger `~^[]{}|_\
    %br/
    Чтобы создать аккаунт с именем, которое вы используете в данный момент выполните следующую команду:
    %br/
    %code /msg NickServ REGISTER passcode user@gmail.com
    %br/
    Где user@gmail.com - Ваше мыло, passcode - Ваш пароль к нику.
    %br/
    На мыло придет сообщение, которое нужно будет ввести в чат. Регистрироваться необязательно, если что, войс дадим :3
    %br/
    А если пользователь не тот ник зарегистрировал, достаточно ввести для сброса ника:
    %br/
    %code /msg NickServ DROP nick passcode
    %br/
    После того как Вы установили свой пароль, вы можете авторизоваться с помощью этой команды :
    %br/
    %code /msg NickServ IDENTIFY passcode
    %br/
    Логин должен быть тот, что вы указывали при регистрации.
    %br/
    Веб-клиент может сам вас зарегистрировать кнопочкой Регистрация в настройках
    %br/
    %h2 Операторам канала
    %ul
      %li Кидайте линк на эту страницу ньюфагам в ИРЦ
