= render 'layouts/nav'
#streamBig.container
  #streambg.row
    #stream.col-md-8
    #chat.col-md-4
      %iframe{bgcolor: "#ffffff", frameborder: "0", height: "100%", scrolling: "no", src: "/irc", width: "100%"}
      %a.twitter-share-button{"data-hashtags" => "omcktv", "data-related" => "omckws", "data-text" => "Я смотрю стрим на", "data-via" => "omcktv", href: "https://twitter.com/share"} Tweet
  /
    #panel.col-md-8{style: "marging-top: 5px"}
      .btn-group
        %button#hidecalendar.btn.btn-danger{onclick: "toggleSchedule();", style: "display: inline;"} Hide Schedule
        %button#hidecalendar.btn.btn-info{onclick: "SelectStream('hd/records');"} Records
        %button.btn.btn-danger{onclick: "popupChat();"} Popout Chat
        %button#toggle-chat.btn.btn-danger{onclick: "toggleChat(0);"} Hide Chat
        %button#toggle-dong.btn.btn-danger{onclick: "toggleDong(1);"} Enlarge Screen
.container#special
  .clearfix.visible-md-block
  .row#schedule
    .col-lg-12
      %iframe#schedule-iframe{frameborder: "0", height: "300", scrolling: "no", src: "http://www.google.com/calendar/embed?showTitle=0&showNav=0&showPrint=0&showCalendars=0&mode=AGENDA&height=300&wkst=2&bgcolor=%23FFFFFF&src=sr623auvi91joo5asn2es33k3s%40group.calendar.google.com&color=%23182C57&ctz=Europe%2FMoscow", style: "border: 0; outline: 0;", width: "100%"}
:coffee
  not ((d, s, id) ->
    js = undefined
    fjs = d.getElementsByTagName(s)[0]
    unless d.getElementById(id)
      js = d.createElement(s)
      js.id = id
      js.src = "//platform.twitter.com/widgets.js"
      fjs.parentNode.insertBefore js, fjs
  ) document, "script", "twitter-wjs"
:css
  .stream {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  .stream iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }