.container
  .row
    .panel.panel-default#header
      .panel-body
        .page-header
          %h1
            Залогиньтесь, товарищ!
        .page-body
          %p
            Авторизация через твиттер защитит Ваши данные, даст возможность стримить и помнить свой сраный ключ для стримов, писать в наш уютный твиттер-аккаунт
            = link_to "@OmckTV", "http://twitter.com/omcktv"
            и делать другие приятные вещи!
          %p Ну или введите полученный гостевой ключ, если не хотите регистрироваться в твиттере ради удобной админки
          %p
            %a{href: "/auth/twitter"}
              %button.btn.btn-primary.pull-left{type: "button"}
                %i.fa.fa-twitter
                Войти через Твиттер
          %br
          %hr
          = render "home/guest_form"

