TICKET_1: TWITTER_POST_CONSUMER_KEY
TICKET_2: TWITTER_POST_SECRET_KEY
TICKET_3: TWITTER_POST_ACCESS_TOKEN
TICKET_4: TWITTER_POST_SECRET_TOKEN
LOGIN_AUTH: TWITTER_LOGIN_CONSUMER_KEY
LOGIN_SECRET: TWITTER_LOGIN_SECRET_KEY
TWITCH_ID: TWITCH_ID
SECRET_KEY_BASE: RAILS_SECRET_KEY
BITLY_USER: SELF
BITLY_TOKEN: SELF