// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/
@height: 520px;

#stream {
  height: @height;
}

#streambg {

}

#chat {
  height: @height;
}

#streams, #special {
  padding-top: 20px;
  padding-bottom: 20px;
}

#full_width {
  width: 100%;
}

.post-content {
    top:0;
    left:1;
    position: absolute;
}

.description-content {
    bottom:0;
    right:50px;
    position: absolute;
}

.thumbnail{
    position:relative;

}

#bg-hide{
  margin-top: 10px;
  display: none;
}
