@media (min-height: 480px){
	#stream {height: 420px;}
	#chat {height: 420px;}

}
@media (min-height: 600px){
	#stream {height: 520px;}
	#chat {height: 520px;}
}
@media (min-height: 768px){
	#stream {height: 560px;}
	#chat {height: 560px;}
}
@media (min-height: 900px){
	#stream {height: 768px;}
	#chat {height: 768px;}
}
@media (min-height: 1080px){
	#stream {height: 800px;}
	#chat {height: 800px;}
}

body {
  background-color: #f7f7f7;
}

.draggable.is-dragging { opacity: 0.7; }
.draggable { height: 100%; }

#other {
  resize: both;
  z-index: 1000;
  position: absolute;
  top: 83px;
  float:right;
  height: 700px;
}

#streamerpic {
  max-height: 180px;
}

#background-hide
{
	display: none;
}
.stream-windows
{
  background-color: #000000;
}
