.row
  .col-md-12#footer
    %button.btn.btn-info.pull-right{type: "button", onclick: "toggleBackground();"} BackGround
  .col-md-12#bg-hide
    .jumbotron
      %h1>
        Обоины
        %button.close{"aria-hidden" => "true", onclick: "toggleBackground();", type: "button"} ×
      Жмакаем на картинку - поставить обоину, жмакаем на схоронить - получаем соус
      %table.table
        %tr
          %td
            %a{onclick: "changeBackground('/assets/bg/omck.jpg')", style: "cursor: pointer;"}
              %img{src: "/assets/bg/thumbs/omck.jpg"}/
            %a{href: "/assets/bg/omck.jpg", target: "_blank"} Схоронить
          %td
            %a{onclick: "changeBackground('/assets/bg/OMCKWall.jpg')", style: "cursor: pointer;"}
              %img{src: "/assets/bg/thumbs/OMCKWall.jpg"}/
            %a{href: "/assets/bg/OMCKWall.jpg", target: "_blank"} Схоронить
          %td
            %a{onclick: "changeBackground('/assets/bg/fon.jpeg')", style: "cursor: pointer;"}
              %img{src: "/assets/bg/thumbs/fon.jpg"}/
            %a{href: "/assets/bg/fon.jpeg", target: "_blank"} Схоронить
          %td
            %a{onclick: "changeBackground('/assets/bg/gta4.jpg')", style: "cursor: pointer;"}
              %img{src: "/assets/bg/thumbs/gta4.jpg"}/
            %a{href: "/assets/bg/gta4.jpg", target: "_blank"} Схоронить
        %tr
          %td
            %a{onclick: "changeBackground('/assets/bg/gta42.jpg')", style: "cursor: pointer;"}
              %img{src: "/assets/bg/thumbs/gta42.jpg"}/
            %a{href: "/assets/bg/gta42.jpg", target: "_blank"} Схоронить
          %td
            %a{onclick: "changeBackground('/assets/bg/fon2alpha.jpg')", style: "cursor: pointer;"}
              %img{src: "/assets/bg/thumbs/fon2.jpg"}/
            %a{href: "/assets/bg/fon2alpha.jpg", target: "_blank"} Схоронить
          %td
            %a{onclick: "changeBackground('/assets/bg/mabe.jpg')", style: "cursor: pointer;"}
              %img{src: "/assets/bg/thumbs/mabe.jpg"}/
            %a{href: "/assets/bg/mabe.jpg", target: "_blank"} Схоронить
          %td
            %a{onclick: "changeBackground('/assets/bg/saya.jpg')", style: "cursor: pointer;"}
              %img{src: "/assets/bg/thumbs/saya.jpg"}/
            %a{href: "/assets/bg/saya.jpg", target: "_blank"} Схоронить
        %tr
          %td
            %a{onclick: "changeBackground('/assets/bg/clr.jpg')", style: "cursor: pointer;"}
              %img{src: "/assets/bg/thumbs/clr.jpg"}/
            %a{href: "/assets/bg/clr.jpg", target: "_blank"} Схоронить
          %td
            %a{onclick: "changeBackground('/assets/bg/cover.jpg')", style: "cursor: pointer;"}
              %img{src: "/assets/bg/thumbs/cover.jpg"}/
            %a{href: "/assets/bg/cover.jpg", target: "_blank"} Схоронить
          %td
            %a{onclick: "changeBackground('/assets/bg/hal.gif')", style: "cursor: pointer;"}
              %img{src: "/assets/bg/thumbs/hal.gif"}/
            %a{href: "/assets/bg/hal.gif", target: "_blank"} Схоронить
          %td
            %a{onclick: "changeBackground('/assets/bg/slam1.jpg')", style: "cursor: pointer;"}
              %img{src: "/assets/bg/thumbs/slam1.jpg"}/
            %a{href: "/assets/bg/slam1.jpg", target: "_blank"} Схоронить
        %tr
          %td
            %a{onclick: "changeBackground('/assets/bg/slam2.jpg')", style: "cursor: pointer;"}
              %img{src: "/assets/bg/thumbs/slam2.jpg"}/
            %a{href: "/assets/bg/slam2.jpg", target: "_blank"} Схоронить
          %td
            %a{onclick: "changeBackground('/assets/bg/ozon.jpg')", style: "cursor: pointer;"}
              %img{src: "/assets/bg/thumbs/ozon.jpg"}/
            %a{href: "/assets/bg/ozon.jpg", target: "_blank"} Схоронить
          %td
            %a{onclick: "changeBackground('/assets/bg/abdul.jpg')", style: "cursor: pointer;"}
              %img{src: "/assets/bg/thumbs/abdul.jpg"}/
            %a{href: "/assets/bg/abdul.jpg", target: "_blank"} Схоронить
          %td
            %a{onclick: "changeBackground('/assets/bg/omck8.jpg')", style: "cursor: pointer;"}
              %img{src: "/assets/bg/thumbs/omck8.jpg"}/
            %a{href: "/assets/bg/omck8.jpg", target: "_blank"} Схоронить
        %tr
          %td
            %a{onclick: "changeBackground('/assets/bg/e3wall.jpg')", style: "cursor: pointer;"}
              %img{src: "/assets/bg/thumbs/e3wall.png"}/
            %a{href: "/assets/bg/e3wall.jpg", target: "_blank"} Схоронить
          %td
            %a{onclick: "changeBackground('/assets/bg/omckrevolution.png')", style: "cursor: pointer;"}
              %img{src: "/assets/bg/thumbs/omckrevolution.png"}/
            %a{href: "/assets/bg/omckrevolution.png", target: "_blank"} Схоронить
          %td
            %a{onclick: "changeBackground('/assets/bg/pony6.jpg')", style: "cursor: pointer;"}
              %img{src: "/assets/bg/thumbs/pony6.png"}/
            %a{href: "/assets/bg/pony6.jpg", target: "_blank"} Схоронить
          %td
            %a{onclick: "changeBackground('/assets/bg/pony13.png')", style: "cursor: pointer;"}
              %img{src: "/assets/bg/thumbs/pony13.png"}/
            %a{href: "/assets/bg/pony13.png", target: "_blank"} Схоронить
